<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slppp.app.modular.system.dao.TokenDestructionMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.slppp.app.modular.system.model.TokenDestruction">
		<result column="txid" property="txid" jdbcType="VARCHAR"/>
		<result column="address" property="address" jdbcType="VARCHAR"/>
		<result column="n" property="n" jdbcType="INTEGER"/>
	</resultMap>

	<sql id="Base_Column_List">
		txid, address, n
	</sql>

	<insert id="insertTokenDestruction" parameterType="com.slppp.app.modular.system.model.TokenDestruction">
		insert into token_destruction
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="txid != null" >
				`txid`,
			</if>
			<if test="address != null" >
				address,
			</if>
			<if test="n != null" >
				n,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="txid != null" >
				#{txid,jdbcType=VARCHAR},
			</if>
			<if test="address != null" >
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="n != null" >
				#{n,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>


</mapper>
