<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slppp.app.modular.system.dao.UtxoMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.slppp.app.modular.system.model.Utxo">
		<result column="txid" property="txid" jdbcType="VARCHAR"/>
		<result column="n" property="n" jdbcType="DECIMAL"/>
		<result column="address" property="address" jdbcType="VARCHAR"/>
		<result column="addresspos" property="addresspos" jdbcType="INTEGER"/>
		<result column="value" property="value" jdbcType="VARCHAR"/>
	</resultMap>

	<sql id="Base_Column_List">
		txid, `n`, address, addresspos, value
	</sql>

	<select id="findByAddress" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		`utxo` where address = #{address}
	</select>


</mapper>
