<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyz.slppp.app.modular.system.dao.AddressHashLinkMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.xyz.slppp.app.modular.system.model.AddressHashLink">
		<result column="address" property="address" jdbcType="VARCHAR"/>
		<result column="address_hash" property="addressHash" jdbcType="VARCHAR"/>
	</resultMap>

	<sql id="Base_Column_List">
		address, address_hash
	</sql>

	<select id="findByAddress" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
		`address_hash_link` where address = #{address}
	</select>

	<insert id="insertAddressHashLink" parameterType="com.xyz.slppp.app.modular.system.model.AddressHashLink">
		insert into address_hash_link
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="address != null" >
				`address`,
			</if>
			<if test="addressHash != null" >
				`address_hash`,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="address != null" >
				#{address, jdbcType=VARCHAR},
			</if>
			<if test="addressHash != null" >
				#{addressHash, jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

</mapper>
