<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyz.slppp.app.modular.system.dao.KycAddressMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.xyz.slppp.app.modular.system.model.KycAddress">
		<result column="id" property="id" jdbcType="INTEGER"/>
		<result column="address" property="address" jdbcType="VARCHAR"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="id_number" property="idNumber" jdbcType="VARCHAR"/>
		<result column="positive_img" property="positiveImg" jdbcType="VARCHAR"/>
		<result column="back_img" property="backImg" jdbcType="VARCHAR"/>
		<result column="phone" property="phone" jdbcType="VARCHAR"/>
	</resultMap>

	<sql id="Base_Column_List">
		id, address, name, id_number, positive_img, back_img, phone
	</sql>

	<select id="selectAddress" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		`kyc_address` where address = #{address}
	</select>

	<select id="selectKycAddress" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		`kyc_address`
	</select>

	<insert id="insertKycAddress" parameterType="com.xyz.slppp.app.modular.system.model.KycAddress">
		insert into kyc_address
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="address != null" >
				address,
			</if>
			<if test="name != null" >
				name,
			</if>
			<if test="idNumber != null" >
				id_number,
			</if>
			<if test="positiveImg != null" >
				positive_img,
			</if>
			<if test="backImg != null" >
				back_img,
			</if>
			<if test="phone != null" >
				phone,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="address != null" >
				#{address, jdbcType=VARCHAR},
			</if>
			<if test="name != null" >
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="idNumber != null" >
				#{idNumber,jdbcType=VARCHAR},
			</if>
			<if test="positiveImg != null" >
				#{positiveImg,jdbcType=VARCHAR},
			</if>
			<if test="backImg != null" >
				#{backImg,jdbcType=VARCHAR},
			</if>
			<if test="phone != null" >
				#{phone,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

</mapper>
