<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyz.slppp.app.modular.system.dao.TokenMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.xyz.slppp.app.modular.system.model.Token">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="type" property="type" jdbcType="VARCHAR"/>
		<result column="hex" property="hex" jdbcType="VARCHAR"/>
		<result column="source_address" property="sourceAddress" jdbcType="VARCHAR"/>
		<result column="receiving_address" property="receivingAddress" jdbcType="VARCHAR"/>
		<result column="token" property="token" jdbcType="VARCHAR"/>
	</resultMap>

	<sql id="Base_Column_List">
		id, `type`, hex, source_address, receiving_address, token
	</sql>

<!--	<select id="findByToken" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		`slppp` where token = #{token}
	</select>-->

	<insert id="insertToken" parameterType="com.xyz.slppp.app.modular.system.model.Token">
		insert into token
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="type != null" >
				`type`,
			</if>
			<if test="hex != null" >
				hex,
			</if>
			<if test="source_address != null" >
				source_address,
			</if>
			<if test="receiving_address != null" >
				receiving_address,
			</if>
			<if test="token != null" >
				token,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="type != null" >
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="hex != null" >
				#{hex,jdbcType=VARCHAR},
			</if>
			<if test="sourceAddress != null" >
				#{sourceAddress,jdbcType=VARCHAR},
			</if>
			<if test="receivingAddress != null" >
				#{receivingAddress,jdbcType=VARCHAR},
			</if>
			<if test="token != null" >
				#{token,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

</mapper>
